section{
    margin: 65px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr 1fr;
    padding: 0 40px;
    column-gap: 20px;
    row-gap: 20px;
}

.cad{
    background-image: url('../Image/Photo\ from\ Star.jpg');
    height: 30vh;
    background-size: cover;
    border-radius: 10px;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.cad div{
    position: relative;
    height: inherit;
    width: inherit;
    display: grid;
    text-align: center;
}

.cad div span:nth-of-type(1){
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    bottom: 3vh;
    left: 2vw;
}

.cad div span:nth-of-type(2){
    justify-self: center;
    align-self: center;
    color: #7d6141;
    font-size: 3rem;
}


.borders{
    border: 1px dashed black;
}
.none{
    display: none;
}